:root.theme-dark {
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --second-text-color: #FF0070;
  --bg-image: url("../images/cover-image-dark.png");
}

.theme-dark .header__lamp {
  display: initial;
}
