:root.theme-light {
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --bg-color: #353430;
  --text-color: #353430;
  --second-text-color: #353430;
  --bg-image: url("../images/cover-image-light.png");
}

.theme-light .header__lamp {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --second-text-color: #353430;
    --bg-image: url("../images/cover-image-light.png");
  }

  .header__lamp {
    display: none;
  }
}