.page {
  background-image: var(--bg-image);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.decorated-zone {
  display: grid;
  color: var(--accent-color);
  inline-size: 100%;
  block-size: 100vh;
  align-items: center;
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--second-text-color);
  border-right: 1px solid var(--second-text-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--second-text-color);
  border-left: 1px solid var(--second-text-color);
}

.header {
  grid-template-rows: 1fr min-content 1fr;
}

.header__lamp {
  position: absolute;
  margin-inline-end: var(--spacing-s);
  font-weight: 400;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

.header__lamp::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  border-radius: 9px;
  margin-inline-start: 10px;
}

.header__theme-menu {
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__theme-menu-list {
  display: grid;
  gap: var(--spacing-s);
}

.header__theme-menu-button {
  padding: 0 13px;
  inline-size: 70px;
  block-size: 26px;
  background-color: inherit;
  border: none;
  text-transform: lowercase;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--second-text-color);
  text-align: center;
}

.header__theme-menu-button_active {
  border: 1px solid var(--second-text-color);
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-color);
  line-height: 82.5%;
}

.header__description {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

.title-decor {
  color: var(--text-color);
  background-color: var(--accent-color);
  font-weight: bold;
}

.main {
  display: grid;
}

.section {
  display: grid;
  gap: var(--spacing-m);
}

.section * {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

.section__title {
  color: var(--second-text-color);
}

.section__parallel__content {
  grid-column: 2 / -1;
  display: grid;
  gap: var(--spacing-m);
}

.section__subtitle {
  margin-bottom: var(--spacing-m);
}

.section__chapter {
  margin-bottom: var(--spacing-s);
}

.section__chapter__small {
  font-weight: normal;
}

.section__paragraph {
  color: var(--text-color);
}

.section__paragraph a {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.gallery {
  max-inline-size: 100%;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: min-content repeat(3, auto);
}

.gallery__item {
  margin: 0;
}

.gallery__image {
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  object-fit: cover;
  display: block;
}

.footer {
  grid-template-rows: 1fr;
  justify-items: center;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
  color: var(--title-color);
  line-height: 82.5%;
}

@media (width < 768px) {
  .page {
    padding: 0 var(--spacing-s);
    gap: var(--spacing-l);
  }

  .header__title,
  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__lamp {
    top: 10px;
    right: 0;
  }

  .decorated-zone {
    padding-block: var(--spacing-s);
  }

  .decorated-zone::before {
    top: 10px;
    right: 0;
  }

  .decorated-zone::after {
    bottom: 10px;
    left: 0;
  }

  .main {
    gap: var(--spacing-xl);
  }

  .gallery {
    gap: var(--spacing-s);
  }
}

@media (768px <= width) {
  .page {
    padding: 0;
    gap: var(--spacing-xxl);
  }

  .header__title,
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    margin-inline: var(--spacing-m);
    justify-self: end;
    width: calc(50% - var(--spacing-m));
  }

  .header__lamp {
    top: 20px;
    right: 20px;
  }

  .decorated-zone {
    padding-block: var(--spacing-m);
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__theme-menu {
    margin-inline: var(--spacing-m);
  }

  .main {
    gap: var(--spacing-xxxl);
  }

  .section {
    margin-inline: var(--spacing-m);
    grid-template-columns: 1fr 2fr;
  }

  .section__solid__content {
    grid-column: 1 / -1;
  }

  .gallery {
    gap: var(--spacing-m);
    margin-inline: var(--spacing-m);
    grid-template-columns: repeat(3, auto);
  }

  .gallery__title {
    grid-column: 1 / -1;
    grid-row: 1 / auto;
    letter-spacing: -0.4px;
  }

  .gallery__item:nth-child(2) {
    grid-row: 2 / span 1;
    grid-column: 1 / -2;
  }

  .gallery__item:nth-child(3) {
    grid-row: 2 / span 2;
    grid-column: -2 / span 1;
  }

  .gallery__item:nth-child(4) {
    grid-row: 3 / span 2;
    grid-column: 1 / span 1;
  }

  .gallery__item:nth-child(5) {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
  }

  .gallery__item:nth-child(6) {
    grid-row: 4 / span 1;
    grid-column: 2 / span 2;
  }
}

@media (1024px <= width) {
  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .section {
    margin-inline: var(--spacing-m);
    grid-template-columns: repeat(3, 1fr);
  }

  .section__solid__title {
    grid-column: 1 / -1;
  }

  .section__solid__content {
    grid-row: 2 / auto;
    grid-column: unset;
  }
}
